<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>

      


      <add name="gcpnAgenciaConnectionString" connectionString="Server=tcp:sqlsanchezbruno.database.windows.net,1433;Initial Catalog=gcpnAgencia;Persist Security Info=False;User ID=agencia;Password=&quot;6jQP;,#&gt;7fv7&amp;x#D&quot;;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
        <customErrors mode="Off"/>
      
    </system.web>

</configuration>
